<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="vendors/bootstrap.css">
    <link rel="stylesheet" href="public/styles/styles.css">
    <script src="vendors/angular.min.js"></script>
    <script src="public/scripts/client.js"></script>
    <title>Document</title>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="TaskController as tc">
        <header>
            <h1>Weekend Challege #3</h1>
        </header>
        <form gn-submit="tc.taskManager">
            <input type="text" ng-model="tc.taskInput" placeholder="Task">
            <input type="text" ng-model="tc.taskInput" placeholder="Date assigned">
            <input type="text" ng-model="tc.taskInput" placeholder="Due date">
            <input type="text" ng-model="tc.taskInput" placeholder="Notes">
            <button>Submit Task</button>
        </form>
    </div>
</body>

</html>