<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="vendors/bootstrap.css">
    <link rel="stylesheet" href="public/styles/styles.css">
    <script src="vendors/angular.min.js"></script>
    <script src="public/scripts/client.js"></script>
    <title>Document</title>
</head>

<body ng-app="myApp">
    <div class="container" ng-controller="TaskController as tc">
        <header>
            <h1>Weekend Challege #3</h1>
        </header>
        <br>
        <div>
            <h2>Create Task</h2>
        </div>
        <form ng-submit="tc.taskManager(tc.taskInput)">
            <input type="text" ng-model="tc.taskInput.task" placeholder="Task">
            <button>Submit Task</button>
        </form>
        <br>
        <div>
            <h2>Task Listing</h2>
            <table>
                <thead>
                    <th>Task</th>
                </thead>
                <tbody>
                    <tr ng-repeat="duty in tc.tasks"></tr>
                    <td>{{duty.task}}</td>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>